<h1>About</h1>

<div class="container-fluid">

<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Product Brochure</h3>
        <p> Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Hic, voluptate, incidunt, id ullam
        nesciunt porro eum placeat odit quod.
        consequuntur suscipit minima magni ipsum 
        deleniti autem aspernatur laboriosam! Aliquid, sit.
        Lorem ipsum dolor sit amet, consectetur adipisicing 
        elit. Modi, consequuntur, aspernatur, 
        ipsum, nulla aut odit natus nam impedit consectetur
        quasi officia ad repudiandae error 
        maiores dolor facilis suscipit sit quis? </p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Certifications</h3>
        <p>Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Hic, voluptate, incidunt, id ullam
        nesciunt porro eum placeat odit quod.
        consequuntur suscipit minima magni ipsum 
        deleniti autem aspernatur laboriosam! Aliquid, sit.
        Lorem ipsum dolor sit amet, consectetur adipisicing 
        elit. Modi, consequuntur, aspernatur, 
        ipsum, nulla aut odit natus nam impedit consectetur
        quasi officia ad repudiandae error 
        maiores dolor facilis suscipit sit quis?</p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3>Delivery information</h3>
        <p>Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
        Hic, voluptate, incidunt, id ullam
        nesciunt porro eum placeat odit quod.
        consequuntur suscipit minima magni ipsum 
        deleniti autem aspernatur laboriosam! Aliquid, sit.
        Lorem ipsum dolor sit amet, consectetur adipisicing 
        elit. Modi, consequuntur, aspernatur, 
        ipsum, nulla aut odit natus nam impedit consectetur
        quasi officia ad repudiandae error 
        maiores dolor facilis suscipit sit quis?</p>
      </div>
    </div>
  </div>
</div>

</div> <!--end container-fluid-->