<div class="some-container">
<h1 class="sub-title">Contact</h1>
<div class="container-fluid">
<div class="row contact-container">
  <div class="col-sm-6 col-md-3 offset-md-2">
    <div class="thumbnail">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, sequi, ad, amet magnam veniam molestiae ducimus quis autem facere tempora fugit assumenda dicta eligendi ipsa doloremque natus quae sunt rem! </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, sequi, ad, amet magnam veniam molestiae ducimus quis autem facere tempora fugit assumenda dicta eligendi ipsa doloremque natus quae sunt rem! </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Thumbnail label</h3>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, sequi, ad, amet magnam veniam molestiae ducimus quis autem facere tempora fugit assumenda dicta eligendi ipsa doloremque natus quae sunt rem! </p>
      </div>
    </div>
   </div>
 </div>

</div><!--end container fluid-->

</div> <!--end container-->