<h1 class="sub-title">Welcome to mystore</h1>
<h4 class="under-title">Your source to find your perfect shoes.</h>
<div class="product-images">
<%= image_tag("shoes01.jpg", class:"container col-md-4 col-sm-6 col-xs-12 products") %>
<%= image_tag("shoes02.jpg", class:"container col-md-4 col-sm-6 col-xs-12 products") %>
<%= image_tag("shoes03.jpeg", class:"container col-md-4 col-sm-6 col-xs-12 products") %>
</div> <!--end product-images-->